#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
                &trans     &trans   &trans        &trans        &trans     &trans  &trans           &trans     &trans     &trans   &trans  &trans
                &kp Q      &trans   &kp W         &kp E         &kp R      &kp T   &kp Y            &kp U      &kp I      &kp O    &trans  &kp P
                &kp A      &trans   &kp S         &kp D         &kp F      &kp G   &kp H            &kp J      &kp K      &kp L    &trans  &kp QUOTE
                &kp Z      &trans   &kp X         &kp C         &kp V      &kp B   &kp N            &kp M      &kp COMMA  &kp DOT  &trans  &kp FSLH
                &kp LSHFT  &kp ESC  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &trans  &kp RIGHT_SHIFT  &kp ENTER  &kp SPACE  &mo 1    &mo 2   &trans
            >;
            display-name = "BASE";
        };

        layer1 {
            bindings = <
                // Left hand
                &trans     &trans &trans     &trans     &trans     &trans
                &kp F1     &trans &kp F2     &kp F3     &kp F4     &kp F5
                &kp F12    &trans &kp F11    &kp F12    &kp F11    &kp F12
                &trans     &trans &trans     &trans     &trans     &trans
                &trans     &trans &kp OPT    &kp CMD    &kp CTRL   &trans
                // Right hand
                &trans     &trans     &trans     &trans     &trans     &trans
                &kp F6     &kp F7     &kp F8     &kp F9     &trans     &kp F10
                &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans     &kp SEMI
                &kp MINUS  &kp EQUAL  &kp LBRC   &kp RBRC   &trans     &kp BSLH
                &trans     &trans     &trans     &trans     &trans     &trans
            >;
            display-name = "LAYER 1";
        };

        layer2 {
            bindings = <
                // Left hand
                &trans     &trans &trans     &trans     &trans     &trans
                &kp N1     &trans &kp N2     &kp N3     &kp N4     &kp N5
                &kp GRAVE  &trans &kp TILDE  &kp AT     &kp HASH   &kp DOLLAR
                &trans     &trans &trans     &trans     &trans     &trans
                &trans     &trans &trans     &trans     &trans     &trans
                // Right hand
                &trans     &trans &trans     &trans     &trans     &trans
                &kp N6     &kp N7     &kp N8     &kp N9     &trans &kp N0
                &kp CARET  &kp AMPS   &kp ASTERISK &kp LPAR &trans &kp RPAR
                &kp UNDER  &kp PLUS   &kp LCB    &kp RCB    &trans &kp PIPE
                &trans     &trans     &trans     &trans     &trans &trans
            >;
            display-name = "LAYER 2";
        };

        layer3 {
            bindings = <
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
            >;
            display-name = "EMPTY";
        };
    };
};